body{background:#111;color:white;font-family:Arial;text-align:center}
.node{fill:#555;stroke:black;stroke-width:2}
.up{fill:#5CFF4D}
.down{fill:#FF4D4D}
text{fill:black;font-size:13px;font-weight:bold}